/* /Components/Layout/NavMenu.razor.rz.scp.css */
/* Style for the navigation menu */
.side-nav[b-ubleqgpcxs] {
    width: 230px;
    height: 100vh;
    background-color: #16a085;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding-top: 60px; /* Space for the top navbar */
}

    .side-nav .nav-link[b-ubleqgpcxs] {
        color: #ffffff;
        text-decoration: none;
        padding: 10px 15px;
        font-size: 16px;
        display: flex;
        align-items: center;
    }

        .side-nav .nav-link:hover[b-ubleqgpcxs] {
            background-color: #495057;
            color: #ffffff;
        }

        .side-nav .nav-link .bi[b-ubleqgpcxs] {
            margin-right: 10px;
        }

.navbar-toggler[b-ubleqgpcxs] {
    display: none; /* Hide the toggler unless needed for responsive design */
}

.top-row[b-ubleqgpcxs] {
    background-color: #16a085;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    position: fixed;
    top: 0;
    width: 230px;
    z-index: 10;
}

.container-fluid .navbar-brand[b-ubleqgpcxs] {
    font-size: 20px;
    font-weight: bold;
}
/* /Components/Pages/AddTransaction.razor.rz.scp.css */
.main-container[b-kf21b7leon] {
    margin: 0 auto;
    max-width: 600px;
    border: 1px solid #d1d3d4;
    padding: 20px;
}

h1[b-kf21b7leon] {
    font-size: 24px;
    color: #2C3E50;
    margin-bottom: 20px;
    text-align: center;
}

form[b-kf21b7leon] {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label[b-kf21b7leon] {
    font-size: 16px;
    color: #2C3E50;
}

select[b-kf21b7leon],
input[b-kf21b7leon],
textarea[b-kf21b7leon] {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #BDC3C7;
    border-radius: 5px;
    width: 100%;
}

textarea[b-kf21b7leon] {
    resize: vertical;
    min-height: 100px;
}

    input:focus[b-kf21b7leon],
    select:focus[b-kf21b7leon],
    textarea:focus[b-kf21b7leon] {
        outline: none;
        border-color: #03cc8c;
    }

.hidden[b-kf21b7leon] {
    display: none;
}

.button-group[b-kf21b7leon] {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

button[b-kf21b7leon] {
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-button[b-kf21b7leon] {
    background-color: #16a085;
    color: white;
}

    .save-button:hover[b-kf21b7leon] {
        background-color: #16a085;
    }

.cancel-button[b-kf21b7leon] {
    background-color: #e6e7e9;
    color: #2C3E50;
}

    .cancel-button:hover[b-kf21b7leon] {
        background-color: #d1d3d4;
    }
/* /Components/Pages/Dashboard.razor.rz.scp.css */
.main-container[b-kgb0i96sf8] {
    margin-left: 230px;
}

.stats[b-kgb0i96sf8] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centers the cards */
    gap: 30px;
    margin-top: 20px;
}

.stat-card[b-kgb0i96sf8] {
    background-color: #dcf7f1;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    flex: 1;
    text-align: center;
    min-width: 150px;
    height: 120px;
    display: flex; /* Flexbox for centering */
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering */
    flex-direction: column; /* Arrange text vertically */
}

@media (min-width: 600px) {
    .stat-card[b-kgb0i96sf8] {
        flex: 0 0 calc(33.33% - 20px); /* 3 cards per row on wider screens */
    }
}

@media (max-width: 599px) {
    .stat-card[b-kgb0i96sf8] {
        flex: 1 0 100%; /* Stacks cards on smaller screens */
    }
}
/* /Components/Pages/Home.razor.rz.scp.css */
body[b-v1ptjgar5f] {
}
/* /Components/Pages/Login.razor.rz.scp.css */
body[b-otxoo4jwx2] {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.setup-container[b-otxoo4jwx2] {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1[b-otxoo4jwx2] {
    font-size: 24px;
    color: #2C3E50;
    margin-bottom: 20px;
}

form[b-otxoo4jwx2] {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[b-otxoo4jwx2],
select[b-otxoo4jwx2],
button[b-otxoo4jwx2] {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #c0c3c1;
    border-radius: 5px;
    width: 100%;
}

    input:focus[b-otxoo4jwx2],
    select:focus[b-otxoo4jwx2] {
        outline: none;
        border-color: #03cc8c;
    }

button[b-otxoo4jwx2] {
    background-color: #16a085;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    button:hover[b-otxoo4jwx2] {
        background-color: #16a085;
    }

    button:active[b-otxoo4jwx2] {
        background-color: darkgreen;
    }

/* /Components/Pages/Transaction.razor.rz.scp.css */
.main-container[b-f0v403rao6] {
    margin-left: 230px;
}

.content[b-f0v403rao6] {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: space-between; /* Place h3 and filters at opposite ends */
    gap: 20px; /* Space between h3 and filters */
    margin-bottom: 20px;
}

.filters[b-f0v403rao6] {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    gap: 10px; /* Add spacing between elements */
    margin-top: 10px; /* Add some space above the filters */
}

    .filters label[b-f0v403rao6] {
        margin-right: 5px; /* Optional: Add a little space after the label */
    }

    .filters input[b-f0v403rao6] {
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    .filters button[b-f0v403rao6] {
        padding: 5px 10px;
        background-color: #16a085;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .filters button:hover[b-f0v403rao6] {
            background-color: #13876b;
        }

.transaction-list[b-f0v403rao6] {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.transaction-header[b-f0v403rao6] {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

table[b-f0v403rao6] {
    width: 100%;
    border-collapse: collapse;
}

table th[b-f0v403rao6],
    table td[b-f0v403rao6] {
        padding: 10px;
        border: 1px solid #ccc;
        text-align: center;
    }

    /* Change the table header color to grey */
    table th[b-f0v403rao6] {
        background-color: grey; /* Light Grey */
        color: white;
    }

.addTransactionButton[b-f0v403rao6] {
    position: absolute;
    bottom: 20px;
    right: 30px;
    padding: 10px 20px;
    background-color: #16a085;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
