.main-container {
    margin-left: 230px;
    padding: 20px;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

.stat-card {
    background-color: #dcf7f1;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    display: inline-block; /* Allow the card to fit the content */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
    transition: transform 0.2s;
    max-width: 200px;
}

    .stat-card h3 {
        margin-bottom: 5px;
        font-size: 14px;
        color: #333;
    }

    .stat-card p {
        font-size: 18px;
        font-weight: bold;
        color: #007B6D;
    }

    .stat-card:hover {
        transform: scale(1.05);
    }


    .stat-card h3 {
        margin-bottom: 10px;
        font-size: 18px;
        color: #333;
    }

    .stat-card p {
        font-size: 24px;
        font-weight: bold;
        color: #007B6D;
    }

.transactions {
    margin-top: 50px;
}

    .transactions h3 {
        font-size: 20px;
        margin-bottom: 10px;
        color: #007B6D;
    }

.transactions-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.transactions-section {
    flex: 1;
    min-width: 0; /* To handle flex shrinking properly */
}



table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}


thead th {
    background-color: #dcf7f1;
    padding: 10px;
    border-bottom: 2px solid #ddd;
}

tbody tr {
    border-bottom: 1px solid #ddd;
}

    tbody tr:hover {
        background-color: #f1f1f1;
    }

td {
    padding: 10px;
    text-align: left;
}

#transactions-list tr td {
    font-size: 14px;
    color: #333;
}

@media (min-width: 600px) {
    .stat-card {
        flex: 0 0 calc(33.33% - 20px);
    }
}

@media (max-width: 599px) {
    .stat-card {
        flex: 1 0 100%;
    }
}
