body {
    background-color: white;
    color: #333;
}

/* Hero Section */
.hero {
    background: url('hero-bg.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero-content {
    max-width: 600px;
}

.hero h1 {
    color: black;
    font-size: 2rem;
    margin-bottom: 20px;
}

.hero p {
    color: black;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hero-btn {
    background-color: #16a085;
    color: white;
    padding: 12px 30px;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

    .hero-btn:hover {
        background-color: #007B6D;
    }

