/* /Components/Layout/NavMenu.razor.rz.scp.css */
/* Style for the navigation menu */
.side-nav[b-ubleqgpcxs] {
    width: 230px;
    height: 100vh;
    background-color: #16a085;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding-top: 60px; /* Space for the top navbar */
}

    .side-nav .nav-link[b-ubleqgpcxs] {
        color: #ffffff;
        text-decoration: none;
        padding: 10px 15px;
        font-size: 16px;
        display: flex;
        align-items: center;
    }

        .side-nav .nav-link:hover[b-ubleqgpcxs] {
            background-color: #495057;
            color: #ffffff;
        }

        .side-nav .nav-link .bi[b-ubleqgpcxs] {
            margin-right: 10px;
        }

.navbar-toggler[b-ubleqgpcxs] {
    display: none; /* Hide the toggler unless needed for responsive design */
}

.top-row[b-ubleqgpcxs] {
    background-color: #16a085;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    position: fixed;
    top: 0;
    width: 230px;
    z-index: 10;
}

.container-fluid .navbar-brand[b-ubleqgpcxs] {
    font-size: 20px;
    font-weight: bold;
}
/* /Components/Pages/AddDebt.razor.rz.scp.css */
.main-main-container[b-ur7ej9djf9] {
    max-width: 100%;
    margin-left: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container[b-ur7ej9djf9] {
    width: 700px;
    border: 1px solid #d1d3d4;
    padding: 20px;
}

h1[b-ur7ej9djf9] {
    font-size: 24px;
    color: #2C3E50;
    margin-bottom: 20px;
    text-align: center;
}

form[b-ur7ej9djf9] {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label[b-ur7ej9djf9] {
    font-size: 16px;
    color: #2C3E50;
}

select[b-ur7ej9djf9],
input[b-ur7ej9djf9],
textarea[b-ur7ej9djf9] {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #BDC3C7;
    border-radius: 5px;
    width: 100%;
}

textarea[b-ur7ej9djf9] {
    resize: vertical;
    min-height: 100px;
}

    input:focus[b-ur7ej9djf9],
    select:focus[b-ur7ej9djf9],
    textarea:focus[b-ur7ej9djf9] {
        outline: none;
        border-color: #03cc8c;
    }

.hidden[b-ur7ej9djf9] {
    display: none;
}

.button-group[b-ur7ej9djf9] {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

button[b-ur7ej9djf9] {
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-button[b-ur7ej9djf9] {
    background-color: #16a085;
    color: white;
}

    .save-button:hover[b-ur7ej9djf9] {
        background-color: #16a085;
    }

.cancel-button[b-ur7ej9djf9] {
    background-color: #e6e7e9;
    color: #2C3E50;
}

    .cancel-button:hover[b-ur7ej9djf9] {
        background-color: #d1d3d4;
    }
/* /Components/Pages/AddTransaction.razor.rz.scp.css */
.main-main-container[b-kf21b7leon] {
    max-width: 100%;
    margin-left: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container[b-kf21b7leon] {
    
    width: 700px;
    border: 1px solid #d1d3d4;
    padding: 20px;
}

h1[b-kf21b7leon] {
    font-size: 24px;
    color: #2C3E50;
    margin-bottom: 20px;
    text-align: center;
}

form[b-kf21b7leon] {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label[b-kf21b7leon] {
    font-size: 16px;
    color: #2C3E50;
}

select[b-kf21b7leon],
input[b-kf21b7leon],
textarea[b-kf21b7leon] {
    font-size: 16px;

    padding: 10px;
    border: 1px solid #BDC3C7;
    border-radius: 5px;
    width: 100%;
}

textarea[b-kf21b7leon] {
    resize: vertical;
    min-height: 100px;
}

    input:focus[b-kf21b7leon],
    select:focus[b-kf21b7leon],
    textarea:focus[b-kf21b7leon] {
        outline: none;
        border-color: #03cc8c;
    }

.hidden[b-kf21b7leon] {
    display: none;
}

.button-group[b-kf21b7leon] {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

button[b-kf21b7leon] {
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-button[b-kf21b7leon] {
    background-color: #16a085;
    color: white;
}

    .save-button:hover[b-kf21b7leon] {
        background-color: #16a085;
    }

.cancel-button[b-kf21b7leon] {
    background-color: #e6e7e9;
    color: #2C3E50;
}

    .cancel-button:hover[b-kf21b7leon] {
        background-color: #d1d3d4;
    }
/* /Components/Pages/Dashboard.razor.rz.scp.css */
.main-container[b-kgb0i96sf8] {
    margin-left: 230px;
    padding: 20px;
}

.stats[b-kgb0i96sf8] {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.stat-card[b-kgb0i96sf8] {
    background-color: #dcf7f1;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    min-width: 150px;
    height: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

    .stat-card:hover[b-kgb0i96sf8] {
        transform: scale(1.05);
    }

    .stat-card h3[b-kgb0i96sf8] {
        margin-bottom: 10px;
        font-size: 18px;
        color: #333;
    }

    .stat-card p[b-kgb0i96sf8] {
        font-size: 24px;
        font-weight: bold;
        color: #007B6D;
    }

.transactions[b-kgb0i96sf8] {
    margin-top: 50px;
}

    .transactions h3[b-kgb0i96sf8] {
        font-size: 20px;
        margin-bottom: 10px;
        color: #007B6D;
    }

.transactions-container[b-kgb0i96sf8] {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.transactions-section[b-kgb0i96sf8] {
    flex: 1;
    min-width: 0; /* To handle flex shrinking properly */
}



table[b-kgb0i96sf8] {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}


thead th[b-kgb0i96sf8] {
    background-color: #dcf7f1;
    padding: 10px;
    border-bottom: 2px solid #ddd;
}

tbody tr[b-kgb0i96sf8] {
    border-bottom: 1px solid #ddd;
}

    tbody tr:hover[b-kgb0i96sf8] {
        background-color: #f1f1f1;
    }

td[b-kgb0i96sf8] {
    padding: 10px;
    text-align: left;
}

#transactions-list tr td[b-kgb0i96sf8] {
    font-size: 14px;
    color: #333;
}

@media (min-width: 600px) {
    .stat-card[b-kgb0i96sf8] {
        flex: 0 0 calc(33.33% - 20px);
    }
}

@media (max-width: 599px) {
    .stat-card[b-kgb0i96sf8] {
        flex: 1 0 100%;
    }
}
/* /Components/Pages/Debts.razor.rz.scp.css */
body[b-yfrfkzsodw] {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #2c3e50;
    margin-left: 250px;
}

p[b-yfrfkzsodw] {
    font-size: 36px;
    color: #2c3e50;
}

.heading[b-yfrfkzsodw] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.add-debt-btn[b-yfrfkzsodw] {
    padding: 10px 20px;
    background-color: #16a085;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

    .add-debt-btn:hover[b-yfrfkzsodw] {
        background-color: #1abc9c;
        transform: translateY(-2px);
    }

    .add-debt-btn:focus[b-yfrfkzsodw] {
        outline: none;
        box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
    }

.summary[b-yfrfkzsodw] {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 40px;
}

    .summary .card[b-yfrfkzsodw] {
        background-color: #dcf7f1;
        padding: 25px;
        border-radius: 12px;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        color: white;
        flex: 1;
        transition: transform 0.3s;
    }

        .summary .card:hover[b-yfrfkzsodw] {
            transform: scale(1.05);
        }

        .summary .card h2[b-yfrfkzsodw] {
            font-size: 2.5rem;
            margin: 0;
            color: #16a085;
        }

        .summary .card p[b-yfrfkzsodw] {
            font-size: 1.1rem;
            margin: 10px 0 0;
            color: dimgrey;
        }

.summary-description[b-yfrfkzsodw] {
    color: #2c3e50;
    font-size: 1.2rem;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.table-container[b-yfrfkzsodw] {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table[b-yfrfkzsodw] {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th[b-yfrfkzsodw], td[b-yfrfkzsodw] {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 1.1rem;
}

th[b-yfrfkzsodw] {
    background-color: #16a085;
    color: white;
    font-size: 1.2rem;
}

td[b-yfrfkzsodw] {
    color: #2c3e50;
}

tr:hover[b-yfrfkzsodw] {
    background-color: #f1f1f1;
}

.no-data[b-yfrfkzsodw] {
    text-align: center;
    font-style: italic;
    color: #bdc3c7;
}

.action-btn[b-yfrfkzsodw] {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .action-btn:hover[b-yfrfkzsodw] {
        background-color: #c0392b;
    }

@media (max-width: 768px) {
    .summary[b-yfrfkzsodw] {
        flex-direction: column;
    }

        .summary .card[b-yfrfkzsodw] {
            margin-bottom: 20px;
        }
}
/* /Components/Pages/Home.razor.rz.scp.css */
body[b-v1ptjgar5f] {
    background-color: white;
    color: #333;
}

/* Hero Section */
.hero[b-v1ptjgar5f] {
    background: url('hero-bg.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero-content[b-v1ptjgar5f] {
    max-width: 600px;
}

.hero h1[b-v1ptjgar5f] {
    color: black;
    font-size: 2rem;
    margin-bottom: 20px;
}

.hero p[b-v1ptjgar5f] {
    color: black;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hero-btn[b-v1ptjgar5f] {
    background-color: #16a085;
    color: white;
    padding: 12px 30px;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

    .hero-btn:hover[b-v1ptjgar5f] {
        background-color: darkgreen;
    }

/* /Components/Pages/Login.razor.rz.scp.css */
body[b-otxoo4jwx2] {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.setup-container[b-otxoo4jwx2] {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1[b-otxoo4jwx2] {
    font-size: 24px;
    color: #2C3E50;
    margin-bottom: 20px;
}

form[b-otxoo4jwx2] {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[b-otxoo4jwx2],
select[b-otxoo4jwx2],
button[b-otxoo4jwx2] {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #c0c3c1;
    border-radius: 5px;
    width: 100%;
}

    input:focus[b-otxoo4jwx2],
    select:focus[b-otxoo4jwx2] {
        outline: none;
        border-color: #03cc8c;
    }

button[b-otxoo4jwx2] {
    background-color: #16a085;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    button:hover[b-otxoo4jwx2] {
        background-color: #16a085;
    }

    button:active[b-otxoo4jwx2] {
        background-color: darkgreen;
    }

/* /Components/Pages/Transaction.razor.rz.scp.css */
.main-container[b-f0v403rao6] {
    margin-left: 230px;
}

.content[b-f0v403rao6] {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: space-between; /* Place h3 and filters at opposite ends */
    gap: 20px; /* Space between h3 and filters */
    margin-bottom: 20px;
}

.totals[b-f0v403rao6] {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.filters[b-f0v403rao6] {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    gap: 10px; /* Add spacing between elements */
    margin-top: 10px; /* Add some space above the filters */
}

    .filters label[b-f0v403rao6] {
        margin-right: 5px; /* Optional: Add a little space after the label */
    }

    .filters input[b-f0v403rao6] {
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    .filters button[b-f0v403rao6] {
        padding: 5px 10px;
        background-color: #16a085;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .filters button:hover[b-f0v403rao6] {
            background-color: #13876b;
        }

.transaction-list[b-f0v403rao6] {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.transaction-header[b-f0v403rao6] {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

table[b-f0v403rao6] {
    width: 100%;
    border-collapse: collapse;
}

table th[b-f0v403rao6],
    table td[b-f0v403rao6] {
        padding: 10px;
        border: 1px solid #ccc;
        text-align: center;
    }

    /* Change the table header color to grey */
    table th[b-f0v403rao6] {
        background-color: grey; /* Light Grey */
        color: white;
    }

.addTransactionButton[b-f0v403rao6] {
  
    padding: 10px 20px;
    background-color: #16a085;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
