.main-container[b-kf21b7leon] {
    margin-left: 230px;
    max-width: 600px;
    border: 1px solid #d1d3d4;
    padding: 20px;
}

h1[b-kf21b7leon] {
    font-size: 24px;
    color: #2C3E50;
    margin-bottom: 20px;
    text-align: center;
}

form[b-kf21b7leon] {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label[b-kf21b7leon] {
    font-size: 16px;
    color: #2C3E50;
}

select[b-kf21b7leon],
input[b-kf21b7leon],
textarea[b-kf21b7leon] {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #BDC3C7;
    border-radius: 5px;
    width: 100%;
}

textarea[b-kf21b7leon] {
    resize: vertical;
    min-height: 100px;
}

    input:focus[b-kf21b7leon],
    select:focus[b-kf21b7leon],
    textarea:focus[b-kf21b7leon] {
        outline: none;
        border-color: #03cc8c;
    }

.hidden[b-kf21b7leon] {
    display: none;
}

.button-group[b-kf21b7leon] {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

button[b-kf21b7leon] {
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-button[b-kf21b7leon] {
    background-color: #16a085;
    color: white;
}

    .save-button:hover[b-kf21b7leon] {
        background-color: #16a085;
    }

.cancel-button[b-kf21b7leon] {
    background-color: #e6e7e9;
    color: #2C3E50;
}

    .cancel-button:hover[b-kf21b7leon] {
        background-color: #d1d3d4;
    }
